<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">TeamMaker</h5>
            <ul>
                <li><a class="grey-text text-lighten-2 s8" >TeamMaker es una herramienta creada por estudiantes de la Universidad de Santiago para formar equipos de trabajo en cursos.</a></li>
            </ul>

        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Enlaces</h5>
            <ul>
                <li><a class="grey-text text-lighten-2" href="http://www.informatica.usach.cl/">DIINF Usach</a></li>
            </ul>
        </div>
    </div>
</div>
