<div style="padding-top:5%">
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12 center-align" style="padding-bottom: 14px">
                <h2 style="display: inline"><b>Panel de opciones</b></h2>
                <hr style="height: 5px;background-color: #2196F3;border-color: transparent !important;">
            </div>
            <div class="col s12 m6 l4" align="center">
                <%= link_to '<i class="material-icons" style="font-size: 6rem;padding-top:50px">group</i><h5 class="center">Usuarios</h5>'.html_safe, usuarios_path, class: "btn btn-default waves-effect waves-light features" , style: "height:200px; width:100%; background-color: #F4A77D" %>
            </div>

            <div class="col s12 m6 l4" align="center">
                <%= link_to '<i class="material-icons" style="font-size: 6rem;padding-top:50px">school</i><h5 class="center">Cursos</h5>'.html_safe, courses_path, class: "btn btn-default waves-effect waves-light features" , style: "height:200px; width:100%; background-color: #5EBD81" %>
            </div>

            <div class="col s12 m6 l4" align="center">
                <%= link_to '<i class="material-icons" style="font-size: 6rem;padding-top:50px">device_hub</i><h5 class="center">Grupos</h5>'.html_safe, grupos_path, class: "btn btn-default waves-effect waves-light features" , style: "height:200px; width:100%; background-color: #958BE8" %>
            </div>

        </div>
    </div>
</div>
</div>
<br><br><br>