<div id="principal_main" class="section scrollspyTitle title_sub">
    <div class="container">
        <div class="row">
            <div class="col l6 m5 s8 offset-s2 center-align">
                <%= image_tag("logo.png", class: "responsive-img", style: "max-width: 80%;padding-top: 30px")%>
            </div>
            <blockquote class="col l6 m7 s12 left-align">
                <h1 id="hero_title" style="color:white"><strong class="bold">¡Bienvenido!, </strong>
                    <span class="light">genera ahora tu equipo de trabajo </span></h1>
                <a href="#intro" class="btn btn-large waves-effect waves-light">Ver más...</a>
            </blockquote>
        </div>
    </div>
</div>

<div class="container">
    <div class="section scrollspy" id="intro">
        <div class="row" style="margin-bottom: 0px;">
            <div class="col s12 m6 l6">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons large">device_hub</i></h2>
                    <h5 class="center">Psico-social</h5>
                    <p class="flow-text" align="justify" style="margin-right: 14px;">Modelo basado en dos aspectos fundamentales: el psicológico y el social. Con el aspecto psicológico se trata de conocer el tipo de personalidad de cada individuo con el fin de comprender su comportamiento y su forma de actuar ante distintos contextos de trabajo. Por otro lado, con respecto al aspecto social, se trata de develar la estructura del grupo y su relación con su entorno.</p>
                </div>
            </div>

            <div class="col s12 m6 l6">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons large">group</i></h2>
                    <h5 class="center">Propósito</h5>
                    <p class="flow-text" align="justify" style="margin-left: 14px;">Apoyar el proceso de selección de <strong class="bold">equipos de trabajo</strong> considerando factores interpersonales y personales apoyados por un sistema de clasificación de personalidad.</p>
                </div>
            </div>
        </div>

    </div>
    <br><br><br><br><br><br>

</div>